<div class="container">
    <div>
        <div class="input-prepend" ng-show="users.first">
            <span class="add-on">我是</span>
            <select class="span2" ng-model="report_reg.user_id"
                    ng-options="o.name as o.value for o in users.users"
                    ng-click="on_change_user()">
            </select>
        </div>
        <div class="input-prepend input-append" ng-show="products.first && types.first">
            <span class="add-on">日报日期</span>
            <input type="text" class="input-medium" placeholder="格式为：2014-12-12" ng-model="report_reg.date">
            <button class="btn" type="button" ng-click="on_change_date_today()">今天</button>
            <button class="btn" type="button" ng-click="on_change_date_yesterday()">昨天</button>
            <button class="btn" type="button" ng-click="on_change_date_previous_friday()">上周五</button>
            <button class="btn" type="button" ng-click="on_change_date_previous()">上一天</button>
            <button class="btn" type="button" ng-click="on_change_date_next()">下一天</button>
        </div>
    </div>
    <table class="table table-hover">
        <tr>
            <th ng-show="{{enable_issue}}">Issue</th>
            <th>{{const_product}}</th>
            <th>{{const_type}}</th>
            <th>时间</th>
            <th>描述</th>
            <th>操作</th>
        </tr>
        <tr ng-repeat="work in report_reg.works">
            <td ng-show="{{enable_issue}}">
                <div ng-show="!work.editing">
                    <div ng-show="!enabled_redmine">
                        {{work.bug}}
                    </div>
                    <div ng-show="enabled_redmine">
                        <a href="{{work.bug |filter_redmine_url}}" target="_blank">{{work.bug}}</a>
                    </div>
                </div>
                <div class="control-group {{work.bug |filter_div_null_class}}" ng-show="work.editing">
                    <input type="text" class="input-mini" placeholder="Issue号" ng-model="work.bug">
                </div>
            </td>
            <td>
                <div ng-show="!work.editing">
                    {{products.kv[work.product]}}
                </div>
                <div class="control-group {{work.product |filter_div_empty_class}}" ng-show="work.editing">
                    <select class="span2" ng-model="work.product"
                        ng-options="o.name as o.value for o in products.products">
                    </select>
                </div>
            </td>
            <td>
                <div ng-show="!work.editing">
                    {{types.kv[work.type]}}
                </div>
                <div class="control-group {{work.type |filter_div_empty_class}}" ng-show="work.editing">
                    <select class="span2" ng-model="work.type"
                        ng-options="o.name as o.value for o in types.types">
                    </select>
                </div>
            </td>
            <td>
                <div ng-show="!work.editing">
                    {{work.time}}小时 ({{work |filter_work_duration}})
                </div>
                <div class="control-group {{work.time |filter_div_empty_class}}" ng-show="work.editing">
                    <input type="text" class="input-mini" placeholder="所花时间" ng-model="work.time">
                </div>
            </td>
            <td class="span5">
                <div ng-show="!work.editing">
                    <span>
                        {{work.content}}
                    </span><br/>
                    <abbr title="修改该工作项" class="initialism span1">
                        <a ng-click="on_modify_work(work)" href="javascript:void(0)"><i class="icon-pencil"></i>修改</a>
                    </abbr>
                    <abbr title="从Redmine获取IssueId对应的工作项内容" class="initialism span3" ng-show="enabled_redmine">
                        <a ng-click="on_retrieve_work(work)" href="javascript:void(0)"><i class="icon-refresh"></i>获取内容</a>
                    </abbr>
                </div>
                <div class="control-group {{work.content |filter_div_empty_class}}" ng-show="work.editing">
                    <textarea class="work_content" rows="3" placeholder="请输入内容..." ng-model="work.content"></textarea>
                </div>
                <div ng-show="work.editing">
                    <abbr title="完成编辑该工作项, 暂存到页面(未提交到服务器, 记得提交哦)" class="initialism span1">
                        <a ng-click="on_finish_work(work)" href="javascript:void(0)"><i class="icon-ok"></i>暂存</a>
                    </abbr>
                    <abbr title="从Redmine获取IssueId对应的工作项内容" class="initialism" ng-show="enabled_redmine">
                        <a ng-click="on_retrieve_work(work)" href="javascript:void(0)"><i class="icon-refresh"></i>从Redmine获取Issue内容</a>
                    </abbr>
                </div>
            </td>
            <td>
                <abbr title="删除该工作项" class="initialism">
                    <a ng-click="on_remove_work(work)" href="javascript:void(0)"><i class="icon-remove"></i>删除</a>
                </abbr>
            </td>
        </tr>
    </table>
    <div ng-show="users.first && products.first && types.first">
        <button type="button" class="btn" ng-click="on_add_empty_work()">增加工作项</button>
        <button type="button" class="btn" ng-click="on_submit_work()">提交日报</button>
    </div>
</div>
