<div class="container">
    <div>
        <div class="input-prepend">
            <span class="add-on">我是</span>
            <select class="span2" ng-model="report_reg.user_id"
                    ng-options="o.name as o.value for o in users.users"
                    ng-click="on_change_user()">
            </select>
        </div>
        <div class="input-prepend input-append">
            <span class="add-on">日报日期</span>
            <input type="text" class="input-medium" placeholder="格式为：2014-12-12" ng-model="report_reg.date">
            <button class="btn" type="button" ng-click="on_change_date_today()">今天</button>
            <button class="btn" type="button" ng-click="on_change_date_yesterday()">昨天</button>
            <button class="btn" type="button" ng-click="on_change_date_previous_friday()">上周五</button>
        </div>
    </div>
    <table class="table table-hover">
        <tr>
            <th>Issue</th>
            <th>产品</th>
            <th>类型</th>
            <th>时长</th>
            <th>描述</th>
            <th>操作</th>
        </tr>
        <tr ng-repeat="work in works">
            <td class="span1">
                <div ng-show="!work.editing">
                    {{work.bug}}
                </div>
                <input type="text" class="input-mini" ng-show="work.editing" ng-model="work.bug">
            </td>
            <td class="span2">
                <div ng-show="!work.editing">
                    {{work.product}}
                </div>
                <select class="span2" ng-show="work.editing" ng-model="work.product"
                    ng-options="o.name as o.value for o in products.products">
                </select>
            </td>
            <td class="span2">
                <div ng-show="!work.editing">
                    {{work.type}}
                </div>
                <select class="span2" ng-show="work.editing" ng-model="work.type"
                        ng-options="o.name as o.value for o in types.types">
                </select>
            </td>
            <td class="span1">
                <div ng-show="!work.editing">
                    {{work.time}}小时
                </div>
                <input type="text" class="input-mini" ng-show="work.editing" ng-model="work.time">
            </td>
            <td class="span6">
                <div ng-show="!work.editing">
                    <span>
                        {{work.content}}
                    </span><br/>
                    <abbr title="修改该工作项" class="initialism">
                        <a ng-click="on_modify_work(work)" href="javascript:void(0)"><i class="icon-pencil"></i></a>
                    </abbr>
                </div>
                <textarea class="work_content" rows="3"
                          ng-show="work.editing" ng-model="work.content"
                          placeholder="请输入内容...">
                </textarea>
            </td>
            <td class="span2">
                <abbr title="完成编辑该工作项" class="initialism" ng-show="work.editing">
                    <a ng-click="on_finish_work(work)" href="javascript:void(0)"><i class="icon-ok"></i>完成</a>
                </abbr>
                <abbr title="删除该工作项" class="initialism" ng-show="!work.editing">
                    <a ng-click="on_remove_work(work)" href="javascript:void(0)"><i class="icon-remove"></i>删除</a>
                </abbr>
            </td>
        </tr>
    </table>
    <div>
        <button type="button" class="btn" ng-click="on_add_empty_work()">增加工作项</button>
        <button type="button" class="btn">提交日报</button>
    </div>
</div>