<div class="container">
    <table class="table table-bordered table-hover">
        <tr>
            <th>编号</th>
            <th>ID</th>
            <th>用户名</th>
            <th>邮箱</th>
            <th>管理员</th>
            <th>激活</th>
            <th>
                <a href="javascript:void(0)" ng-click="add_user()">
                    <li class="icon-plus"></li>添加新用户
                </a>
            </th>
        </tr>
        <tr ng-repeat="user in users" class="{{user |filter_user_tr_class}}">
            <td class="span1">{{user.index}}</td>
            <td class="span1">{{user.id? user.id:"待定"}}</td>
            <td class="span2">
                <span ng-show="!user.editing">{{user.name}}</span>
                <div class="control-group {{user.name |filter_div_empty_class}}" ng-show="user.editing">
                    <input type="text" class="span1" ng-model="user.name" placeholder="请输入用户名">
                </div>
            </td>
            <td class="span4">
                <span ng-show="!user.editing">{{user.email? user.email:"无邮箱"}}</span>
                <input type="text" class="span3" ng-model="user.email" placeholder="请输入用户邮箱" ng-show="user.editing">
            </td>
            <td class="span1">
                <span ng-show="!user.editing">{{user.admin? "管理员":"用户"}}</span>
                <label class="checkbox inline" ng-show="user.editing">
                    <input type="checkbox" ng-model="user.admin">
                </label>
            </td>
            <td class="span1">
                <span ng-show="!user.editing">{{user.enabled? "激活":"禁用"}}</span>
                <label class="checkbox inline" ng-show="user.editing">
                    <input type="checkbox" ng-model="user.enabled">
                </label>
            </td>
            <td>
                <a href="javascript:void(0)" ng-click="on_modify_user(user)" ng-show="!user.editing" title="修改用户信息">
                    <i class="icon-pencil"></i>修改
                </a>
                <a href="javascript:void(0)" ng-click="on_submit_user(user)" ng-show="user.editing" title="保存用户信息">
                    <i class="icon-ok"></i>提交
                </a>
                <a href="javascript:void(0)" ng-click="on_cancel_user(user)" ng-show="!user.id" title="取消新建用户">
                    <i class="icon-remove"></i>取消
                </a>
                <a href="javascript:void(0)" ng-click="on_disable_user(user)" ng-show="user.enabled && user.id" title="禁用后用户不能登录系统">
                    <i class="icon-off"></i>禁用
                </a>
                <a href="javascript:void(0)" ng-click="on_enable_user(user)" ng-show="!user.enabled && user.id" title="激活后用户才能登录系统">
                    <i class="icon-thumbs-up"></i>启用
                </a>
                <a href="#{{url}}/{{user.id}}" ng-show="user.id" title="设置用户的组属性">
                    <i class="icon-wrench"></i>所属组
                </a>
            </td>
        </tr>
    </table>
</div>